@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  min-height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Urbanist', sans-serif;
  background: #FFF8F4;
  color: #341F30;
}

* {
  box-sizing: border-box;
}

button,
a {
  -webkit-tap-highlight-color: transparent;
}

img,
video {
  max-width: 100%;
}
